In [1]:
# The skeleton of this code is adapted from the following tutorial
# https://towardsdatascience.com/selenium-tweepy-to-scrap-tweets-from-tweeter-and-analysing-sentiments-1804db3478ac


import tweepy
from tweepy import OAuthHandler
import pandas as pd

In [2]:
class TwitterClient(object): 
    def __init__(self):
        consumer_key = 'xxxx'
        consumer_secret = 'xxxx'
        access_token = 'xxxx'
        access_token_secret = 'xxxx'
        auth = OAuthHandler(consumer_key, consumer_secret)
        auth.set_access_token(access_token, access_token_secret)
        self.api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
            

    def get_tweets(self, query, maxTweets = 1000): 
        tweets = [] 
        tweetCount = 0
        
        while tweetCount < maxTweets:
            new_tweets = self.api.search(q=query, count=100, languages=["en"])
            if not new_tweets:
                print("No more tweets found")
                break
            for tweet in new_tweets:
                parsed_tweet = {} 
                parsed_tweet['tweets'] = tweet.text
                tweets.append(parsed_tweet)
                    
            tweetCount += len(new_tweets)
        
        return pd.DataFrame(tweets)

In [3]:
q = "dune OR DuneMovie OR RealChalamet"

In [4]:
obj = TwitterClient()

In [5]:
df = obj.get_tweets(q)

In [6]:
df.head()

                                              tweets
0  塚口サンサン劇場にて『DUNE/デューン 砂の惑星』鑑賞。映画ならではの映画館で観るべき迫力...
1  RT @sandrafilter: Dune (2021) - Building The A...
2  @asgardrry @RealChalamet THATS WHAT MADE ME MI...
3                    @asgardrry @RealChalamet I KNOW
4                까마귀인간이 반짝이는걸 좋아한다거나 개인간이 후각이 발달했다거나

In [ ]:
df.to_csv("tweets.csv", index=False)